/*
kolory
#142740   rgb(20, 39, 64) ciemny niebieski  -kontakt
#314759   rgb(49, 71, 89) troszke jasniejszy niebieski -abt me
#64818C   rgb(100, 129, 140) szary niebieski -tlo do zdj
#819EAC   rgb(129, 158, 172) jasniejszy szary niebieki (czcionka maybe?)
#F2E2DC   rgb(242, 226, 220) jasny roz -motywacja
#D9C0BA   rgb(217, 192, 186) troszke ciemniejszy roz -tlo menu*/

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(24, 24, 24);
  align-items: center;
  margin: 0px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9;
  width: 100%; /* Rozciąga pasek na całą szerokość ekranu */
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(217, 192, 186, 0.4); /* Przezroczyste tło */
  backdrop-filter: blur(7px); /* Efekt rozmycia tła */
}

.logo {
  width: 100px;
  height: 80px;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.links {
  padding: 5px;
  text-decoration: none;
  /*text-transform: capitalize;*/
  color: rgb(24, 24, 24);
  font-size: 30px;
}

.links-container a {
  display: block; /* Zapewnia, że linki nie będą się ściśle do siebie przyklejać */
}

/* me section */
#me-section {
  color: white;
  position: relative;
  min-width: 1390px;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(49, 71, 89);
  padding: 100px;
  box-sizing: border-box; /* Zapewnia, że padding nie zmienia wymiaru elementu */
}
#why-section {
  color: rgb(24, 24, 24);
  position: relative;
  min-width: 1390px;
  width: 100%;
  background-color: rgb(242, 226, 220);
  padding: 100px;
  box-sizing: border-box;
}
#contact-section {
  color: white;
  min-width: 1390px;
  background-color: rgb(20, 39, 64);
  padding: 100px;
  box-sizing: border-box;
  width: 100%;
}

/* Dodajemy responsywność: */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Układ pionowy dla węższych ekranów */
    align-items: center; /* Centruje zawartość */
    height: auto; /* Dostosowuje wysokość */
    padding: 20px;
  }

  .links-container {
    flex-direction: column; /* Menu w kolumnie */
    gap: 20px;
    align-items: center;
  }

  .logo {
    width: 80px;
    height: 60px;
  }
}
.me-heading {
  font-size: 30px;
  color: rgb(24, 24, 24);
}

section {
  padding-top: 100px;
  /*scroll-margin-top: 120px;  Wartość odpowiada wysokości paska nawigacyjnego + margines*/
}
table,
th,
td {
  vertical-align: top;
}
/*border: 1px solid black;
  border-collapse: collapse;
}*/
.my-pic {
  /*border: 50px;*/
  padding: 5px;
  background-color: rgb(100, 129, 140);
  height: 400px;
  border-radius: 200px;
}
.header-me-section {
  font-size: 25px;
  font-weight: bold;
  color: rgb(129, 158, 172);
}

#foot-section {
  text-align: center;
  min-width: 1390px;
  width: 100%;
  background-color: rgb(20, 39, 64);
  padding-bottom: 50px;
  color: rgb(129, 158, 172);
  margin: 0px;
}
.js-change-button {
  border: none;
  background-color: transparent;
  padding-top: 8px;
  font-size: 28px;
  color: rgb(24, 24, 24);
}
.icon-pics {
  padding: 5px;
  background-color: rgb(244, 146, 61);
  height: 00px;
  border-radius: 200px;
}
.text-icons {
  font-size: 30px;
  text-align: left;
  padding-left: 20px;
}
.first-table {
  font-size: 22px;
}
.schools {
  font-size: 22px;
}
